.color-base03
{
    color: #002b36;
}
.color-base02
{
    color: #073642;
}
.color-base01
{
    color: #586e75;
}
.color-base00
{
    color: #657b83;
}
.color-base0
{
    color: #839496;
}
.color-base1
{
    color: #93a1a1;
}
.color-base2
{
    color: #eee8d5;
}
.color-base3
{
    color: #fdf6e3;
}

.color-yellow
{
    color: #b58900;
}
.color-orange
{
	color: #cb4b16;
}
.color-red
{
    color: #dc322f;
}
.color-magenta
{
    color: #d33682;
}
.color-violet
{
    color: #6c71c4;
}
.color-blue
{
    color: #268bd2;
}
.color-cyan
{
    color: #2aa198;
}
.color-green
{
    color: #859900;
}


