@font-face 
{
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
    padding: 0px;
}
html, body
{
    background-color: white;
    font-family: 'open_sanscondensed_light';
    width: 100%;
    height: 100%;
    font-size: 1em;
}
.logo
{
    width: 160px;
    height: 160px;
    background: white;
    color: white;
    background: url("./../images/logo_160.png");
}
.left
{
    text-align: left;
}
.right
{
    text-align: right;
}
.float-right
{
    float: right;
}
.float-left
{
    float: left;
}
.center
{
    text-align: center;
}
.centered
{
    margin-left: auto;
    margin-right: auto;
}
#intro
{
    background-color: #f3f3f3;
    padding: 24px 96px;
    margin-bottom: 48px;
    font-size: 0.8em;
}
hr.small
{
    margin-top: 4px;
    margin-bottom: 12px;
}
.font-ninety
{
    font-size: 90%;
}
.font-eighty
{
    font-size: 80%;
}
.font-seventy
{
    font-size: 70%;
}
.container-sm
{
    padding: 12px 24px;
}

/*
===============================================================================
        =====	C A N V A S   //
===============================================================================
*/
#arbre
{
    border: 1px solid #D0DC47;
    margin: auto;
    position: relative;
    background-color: white;
    overflow: auto;
}
#arbre-canvas
{
    display: block;
}
#body-home
{
    background: white;
    /*background: url("./../images/bg.jpg") no-repeat center center fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#body-about
{}
#body-help
{}
#body-404
{}
.share-message.disabled
{
    display: none;
}
#tree-description
{
    background: rgba(42,161,152, 0.25);
    padding: 24px 48px;
    text-align: justify;
}

/*
===============================================================================
        =====	H E A D E R
===============================================================================
*/
header
{
    margin-bottom: 4px;
}
header a
{
    display: inline-block;
}

.header-logo
{
    width: 469px;
    height: 101px;
    background: url("./../images/arborescence.png") no-repeat center center;
}
#home_title
{
    color: #002b36;
    font-size: 3.6em;
}
#username-home
{
    visibility: hidden;
}

/*
===============================================================================
        =====   A B O U T
===============================================================================
*/
.team-member
{
    font-size: 0.8em;
    min-width: 130px;
    /*width: 30%;*/
    display: inline-block;
}
.user-picture
{
    width: 124px;   
    height: 124px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    border-radius: 62px;
    background-repeat: no-repeat;
}
.team-member-name
{
    /*position: relative;*/
    font-size: 1em;
    top: -16px;
    left: 8px;
    letter-spacing: 2px;

}
.team-member-role
{
    /*position: relative;*/
    top: -48px;
    left: 60px;
}
.team-member-email
{
    /*position: relative;*/
    top: -48px;
    left: 60px;
}

/*
===============================================================================
        =====   S I D E M E N U
===============================================================================
*/
#menuToggle
{
    width: 36px;
    background-color: #D0DC47;
    color: white;
    padding: 8px 8px;
    /*border-radius: 0px 24px 24px 0px;*/
    /*position: absolute;*/
    /*left: 244px;*/
}
#sidemenu
{
    width: 220px;
    float: left;
    color: #002b36;
    padding-left: 4px;
    padding-right: 24px;
}
#sidemenu-content
{
    border-right: 1px dotted #93a1a1;
    padding-right: 8px;
}
.menuheader
{
    padding: 4px;
    text-transform: uppercase;
    /*height: 120px;*/
}
.menubody
{
    font-size: 0.9em;
}
section
{
    padding-left: 4px;
}
ul
{
    list-style-type: none;
}
ul li 
{
    padding-left: 16px;
}
.sidemenu-item 
{
    color: gray;
    font-size: 1em;
}
.sidemenu-item:hover
{
    color: white;
    text-decoration: none;
    background-color: #2aa198;
    padding-left: 12px;
    padding-right: 12px;
}
.sidemenu-h5
{
    font-size: 1.1em;
    margin-top: 2px;
    margin-bottom: 8px;
}
.sidemenu-menu 
{
    color: #002b36;
}
.sidemenu-menu:hover
{
    color: white;
    text-decoration: none;
    background-color: #2aa198;
    padding-left: 12px;
    padding-right: 12px;
}
/* Active menu */
.sidemenu-li.active
{
    text-decoration: none;
    background-color: #2aa198;
    margin-bottom: 2px;
    margin-top: 2px;
}
.sidemenu-li.active a, .sidemenu-h5.active a 
{
    color: white;
}
section h5.active
{
    text-decoration: none;
    background-color: #2aa198;
    padding: 4px;
}
#miLogout, #miLogout a
{
    letter-spacing: 2px;
    color: #dc322f;
    margin-top: 8px;
}
#miLogout a:hover
{
    color: white;
    background-color: #dc322f;
    padding: 2px 8px;
}
#miHome, #miHome a 
{
    letter-spacing: 2px;
    color: #2aa198;
}
#miHome a:hover
{
    padding: 2px 8px;
    color: white;
}
#user-profile-image
{
    width: 80px; height: 80px;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;background-repeat: no-repeat;
    /*float: left;*/
}
#menu-title
{
    /*float: right;*/
    margin-top: 4px;
}
/*
===============================================================================
        =====   N O T I C E
===============================================================================
*/
.notice-header
{
    display: block;
    /*width: 220px;*/
    letter-spacing: 2px;
    text-align: left;
}
.notice-title
{
    font-size: 0.8em;
    width: 220px;
}
.notice-message
{
    font-size: 0.85em;
}
/*
===============================================================================
        =====   T A G
===============================================================================
*/
.tag 
{
    background: #d33682;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 0px 12px;
    margin: 0 0px 4px 0;
    text-decoration: none;
}
.tagDelete
{
    background: #d33682;
    color: white;
    padding-top: 1px;
    margin-right: 4px;
}
.tagDelete:hover
{
    background-color: #002b36;
    color : #FFF;
}
.tagDelete i
{
    margin-left: 4px;
    margin-right: 6px;
}
.tag:hover 
{
    background-color: #002b36;
    color : #FFF;
    pointer: cursor;
}
.tag:before 
{
    background: #FFF;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 24px;
    margin: 0 4px 0 0;
}
.tag:hover:before
{
    border-color: transparent transparent transparent #FFF;
    color: #d33682;
}

.tag:hover, .tag:active, .tag:focus
{
    color : white;
    text-decoration: none;
}
.tag.disabled
{
    background-color: gray;
    color: white;
}
.tag.disabled + .tagDelete
{
    background: gray;
    color: white;
    margin-right: 4px;
}
.tag.disabled + .tagDelete:hover
{
    background-color: #002b36;
    color : #FFF;
}
#tag-fa
{
    position: relative;
    top: 8px;
}
/*
===============================================================================
        =====   R I G H T // C O N T E N T
===============================================================================
*/
#rightBodyContent
{
    width: 240px;
    color: #002b36;
    padding-left: 4px;
    padding-right: 8px;
    border-left: 1px dotted #93a1a1;
}
/*
===============================================================================
        =====	F O O T E R
===============================================================================
*/
footer
{
    margin-top: 24px;
    padding: 24px 0px;
    text-align: center;
}

/*
===============================================================================
        =====   B O D Y // C O N T E N T
===============================================================================
*/
#body
{
    padding-left: 48px;
    padding-right: 48px;
}
.bodyWrapper
{
    text-align: center;
    /*padding-left: 190px;*/
    /*float: right;*/
}
.bodyWrapper.active-menu
{
    padding-left: 220px;
}
.bodyMargin
{
    margin: 0px auto;
}
.bodyContent
{
    /*margin-left: 48px;*/
    text-align: center;
    color: #002b36;
    /*padding-left: 24px;*/
    padding-bottom: 48px;
    padding-top: 6px;
    border-width: 1px;
    border-color: #93a1a1;
}
.bodyContentModal
{
    text-align: center;
    color: #002b36;
}
.slide-content
{
    padding-left: 48px;
    padding-right: 48px;
}

/*
===============================================================================
        =====	C O M M O N // F O R M
===============================================================================
*/
.form-group
{
    display: inline-block;
    width: 100%
}
.form-control.inline
{
    display: inline-block;
}
.form-default
{
    margin-bottom: 12px;
    max-width: 400px;
    padding: 16px;
    margin: 0px auto;
}
.form-default-lg
{
    margin-bottom: 12px;
    max-width: 600px;
    padding: 16px;
    margin: 0px auto;
    /*text-align: center;*/
    font-size: 1em;
}
.form-default .form-control, .form-default-lg .form-control
{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1.2em;
}
.form-default ul li, .form-default-lg ul li
{
    color: #dc322f;
}
.form-default .form-default-heading, .form-default-lg .form-default-heading
{
    margin-bottom: 12px;
}
.form-input
{
    margin-bottom: -1px;
}
.last-input
{
    margin-bottom: 12px;
}
.form-inline .form-input2
{
    width: 240px;
    height: 36px;
    padding: 4px 16px;
}
.form-control.file-caption
{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 0px;
    font-size: 1.05em;
}
/*
===============================================================================
        ===== T A B L E 
===============================================================================
*/
.table-tree
{
    margin: 0 auto !important;
    float: none !important;
    width: 100%;
}
.table 
{
    width: 100%;
}

/*
===============================================================================
        ===== M O D A L 
===============================================================================
*/
#noticeModalBody
{
    height: 400px;
    overflow: auto;
}
/*
===============================================================================
        ===== P O S I T I O N . S I Z E 
===============================================================================
*/
.inline-block
{
    display: inline-block;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.width-25
{
    width: 25%;
}
.width-30
{
    width: 30%;
}
.width-33
{
    width: 33%;
}
.width-40
{
    width: 40%;
}
.width-50
{
    width: 50%;
}
/*
===============================================================================
        ===== M I S C 
===============================================================================
*/
#home-enter
{
    letter-spacing: 4px;
}
#global
{
    display: block;
    margin: 0px auto;
    padding: 8px;
}
.errors-ul
{
    color: #dc322f;
    text-align: center;
    list-style: none;
}
.block
{
    text-align: center;
    display: block;
}
.label
{
    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
    border-radius: 0px;
}
.label-title
{
    letter-spacing: 8px;
    text-transform: uppercase;
}
.whitelink
{
    color: white;
}
.whitelink:hover
{
    
    text-decoration: none;
    border: none;
    padding: 0px 48px;
    color: #002b36;
    background-color: white;
}
.blacklink
{
    color: #002b36;
}
.blacklink:hover
{
    text-decoration: none;
    border: none;
    padding: 0px 48px;
    color: white;
    background-color: #002b36;
}
ul.nav 
{
    height: 48px;
}
/*
================================================================================
*/
h1
{
    font-size: 3.5em;
}
h2
{
    font-size: 2em;
}
h3
{
    font-size: 1.8em;
}
h4
{
    font-size: 1.5em;
}
h5
{
    font-size: 1.2em;
}
h6
{
    font-size: 0.8em;
}

/*
===============================================================================
        ===== A R B R E
===============================================================================
*/
.basic-input
{
    height: auto;
    box-sizing: border-box;
    padding: 12px;
}
#generer-png
{
    display: block;
    margin: 0 auto;
}
.selectedTool
{
    border: 2px;
    border-color: #b58900;
}


/*
================================================================================
========== B O O T S T R A P // O V E R R I D E ================================
================================================================================

========== B U T T O N // ======================================================
*/
.btn
{
    padding: 8px 32px;
    border: none;
}
.btn.btn-sm
{
    padding: 6px 12px;
    border: none;
}
.btn.btn-lg
{
    padding: 10px 72px;
    border: none;
    font-size: 16px;
}
.btn-icon
{
    margin: 0px;
    padding: 4px;
    border: none;
}
.btn.btn-default.bg-relation
{
    background-color: #d33682;
    color: #fdf6e3;
}
.btn.btn-default, .btn-icon.btn-default
{
    background-color: #93a1a1;
}
.btn.btn-default:hover, .btn-icon.btn-default:hover
{
    background-color: #002b36;
    color: #fdf6e3;
}
.btn.btn-success, .btn-icon.btn-success
{
    background-color: #D0DC47;
}
.btn.btn-success:hover
{
    background-color: #002b36;
}
.btn.btn-primary, .btn-icon.btn-primary
{
    background-color: #268bd2;
}
.btn.btn-primary:hover, .btn-icon.btn-primary:hover
{
    background-color: #002b36;
}
.btn.btn-info, .btn-icon.btn-info
{
    background-color: #2aa198;
}
.btn.btn-info:hover, .btn-icon.btn-info:hover
{
    background-color: #002b36;
}
.btn.btn-danger, .btn-icon.btn-danger
{
    background-color: #dc322f;
}
.btn.btn-danger:hover, .btn-icon.btn-danger:hover
{
    background-color: #002b36;
}
.btn.btn-warning, .btn-icon.btn-warning
{
    background-color: #cb4b16;
}
.btn.btn-warning:hover, .btn-icon.btn-warning:hover
{
    background-color: #002b36;
}

.icon
{
    padding: 0px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
}
.icon.icon-node
{
    background-image: url("./../images/node.png");
}
.icon.icon-node.unactive
{
    background-image: url("./../images/node-unactive.png");
}
.icon.icon-node2
{
    background-image: url("./../images/node2.png");
}
.icon.icon-node2.unactive
{
    background-image: url("./../images/node2-unactive.png");
}
.icon.icon-paint
{
    width: 90px;
    background-image: url("./../images/paint.png");
}
.icon.icon-paint.unactive
{
    width: 90px;
    background-image: url("./../images/paint-unactive.png");
}
.icon.icon-note
{
    background-image: url("./../images/note.png");
}
.icon.icon-note.unactive
{
    background-image: url("./../images/note-unactive.png");
}
.icon.icon-attente
{
    background-image: url("./../images/attente.png");
}
.icon.icon-attente.unactive
{
    background-image: url("./../images/attente-unactive.png");
}
.icon.icon-delete
{
    background-image: url("./../images/delete.png");
}
.icon.icon-delete.unactive
{
    background-image: url("./../images/delete-unactive.png");
}
/*
========== // O T H E R S ======================================================
*/
i
{
    margin-right: 12px;
}
ul
{
    color: #002b36;
}
.color-relation
{
    /*color: #d33682;*/
    color: #2aa198;
}
.color-node
{
    color: #268bd2;
}
.color-default
{
    color: #b58900;
}
.color-dark
{
    color: #002b36;
}
.color-red
{
    color: #dc322f;
}
.color-green
{
    color: #D0DC47;
}

.gap-top-4
{
    margin-top: 6px;
}
hr.light
{
    border-color: white;
    opacity: 0.5;
}
hr.dark
{
    border-color: #002b36;
    opacity: 0.5;
}

.triangle
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 60px 50px;
    border-color: transparent transparent #FFF transparent;
}


/*
================================================================================
========== // H O M E // =======================================================
================================================================================
*/
.slide
{
    min-height: 320px;
    /*min-width: 600px;*/
    margin: 0px;
    padding:  0px 0px 48px 0px;
    font-size: 1.2em;
    text-align: center;
    color: #002b36;
}
.slide h4
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2em;
}
#slide_1
{}
#slide_2
{
    background-color: #2aa198;
    color: white;
    min-height: 480px;
}
#slide_3
{   
    min-height: 480px;
}
#slide_4
{
    background-color: #cb4b16;
    min-height: 480px;
}
#slide_5
{
    background-color: #2aa198;
    color: #002b36;
    padding: 48px 0px;
    min-height: 120px;
    font-size: 2em;
}
#slide_6
{
    min-height: 36px;
    min-width: 600px;
    margin: 0px;
    padding:  0px 0px 24px 0px;
    font-size: 1em;
    text-align: center;
    color: #002b36;
}
#slide_account
{
    text-align: left;
}
#slide_account h4
{
    text-align: center;
}
#slide_account label
{
    min-width: 200px;
}
#slide_edit.clearfix
{
    min-width: 180px;
    min-height: 180px;
}
#slide_trees
{
    background-color: white;
    color: #002b36;
    min-height: 360px;
}
#slide_home
{
    color: #002b36;
    min-height: 360px;
}
#slide_help
{
    color: #002b36;
    min-height: 360px;
}
#aboutList
{
    text-align: left;
}
#aboutList label, #aboutList.label
{
    min-width: 240px;
}
#home_login_form
{}
#home_register_form
{}

/*
========== // ==================================================================
===== A N I M A T I O N ========================================================
================================================================================
*/
@keyframes opacity_anim {
    0%      {opacity: 0;}
    10%     {opacity: 0.1;}
    20%     {opacity: 0.2;}
    30%     {opacity: 0.3;}
    40%     {opacity: 0.4;}
    50%     {opacity: 0.5;}
    60%     {opacity: 0.6;}
    70%     {opacity: 0.7;}
    100%    {opacity: 1;}
}

/*
========================================================================= // ===
=====//=========================================================================
=====//=========================================================================
========== // ===========================================================//=====
=====//=========================================================================
=====//=========================================================================
========================================================================= // ===
*/

/*
===============================================================================
        =====	W I D T H  // M A X. [8 0 0]px
===============================================================================
*/
@media (max-width: 800px)
{}

/*
===============================================================================
        =====	H E I G H T  // M A X. [6 0 0]px
===============================================================================
*/
@media (max-height: 600px)
{}